body {
    background-color: #f8f8f8;
}


/*
+1.2) Задать блоку с классом header значение высоты;
+1.4) Из вертикального меню сделать горизонтальное;
+1.5) Разместить меню справа от логотипа;
+1.6) Прижать меню к правому краю.
*/
.header {
    display: flex;
    height: 120px;
    justify-content: space-between;
}

/*
1.1) Создать родительский блок с классом container, задать значение ширины и расположить блок по центру экрана;
*/
.container {
    width: 1200px;
    margin: 0 auto;
}
/*
+1.3) Отодвинуть логотип от левого края;
*/
.logo {
    margin-left: 10px;
}

/*
 Убрать маркеры списка.
*/

.menu li {
    list-style-type: none;
    display: inline;
}

.menu a {
    text-decoration: none;
}


/*
2) Footer (на всех страницах):
2.1) Задать высоту;
2.2) Поменять цвет фона;
*/
.footer {
    height: 120px;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
}

/*
2.3) Прижать текст «Все права защищены» к правому краю и отодвинуть от верхней и правой границы.
*/
.allright {
    margin-top: 50px;
    margin-right: 750px;
}

.button-buy {
    width: 100px;
    height: 30px;
}

/*
3.2) Добавить кнопку «Купить»;
3.3) Присвоить наведение и нажатие на кнопку «Купить».
*/
.button-buy:hover {
    background-color: limegreen;
}

.button-buy:active {
    background-color: red;
}

/*
* Для всех ссылок меню задать определенный стиль (цвет текста, размер шрифта, начертание шрифта и т.д.).
*/

.menu a {
    color: green;
    font-size: 14px;
    font-family: sans-serif;
}

.menu a:hover {
    color: purple;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item img {
    width: 180px;
    height: 250px;
}

.product-description-container h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    float: right;
    margin-right: 400px;    
}

.full-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product-specials {
    color: burlywood;
    font-size: 12px;
    font-style: italic;
    font-family: sans-serif;
}

.product-specials li {
    list-style-type: none;
}

.text-inputs {
    width: 200px;
    height: 18px;
    color: green;
    font-family: sans-serif;
    text-transform: capitalize;
}

/*
Подсветка поля email
*/
[type="email"]:focus {
    color: red;
    background-color: bisque;
}

/*
Рамка вокруг изображения
*/
.bordered-image {
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
}

/*
При наведении рамка вокруг изображения исчезает, изображение не смещается
*/
.bordered-image:hover {
    outline-width: 0px;
}

/*
Краткая разметка таблицы
*/
.table_product_decr {
    border-collapse : collapse;
}

.table_product_decr td {
    border: 1px solid #000;
    width: 50px;
    height: 50px;    
}

/*
8) *На странице просмотра товара каталога в каждом параграфе выделить первую букву первого слова другим шрифтом и размером.
*/
.product-description-container p:first-letter {
    font-size: 20px;
    font-style: italic;
    color: red;
}